.green {
    background-color: rgb(47, 177, 163)!important;
    color: white!important;
}

/* 245, 186, 91 */

.io1 {
    display: flex;
    justify-content: space-between;
}

.btn1 {
    margin-top: 0.5rem!important;
}
.btn1:hover {
    background-color: rgb(248, 166, 101);
}

.outlinebt {
    outline: 2px solid rgb(245, 186, 91);
    margin-left: 10px;
}
.outlinebt:hover {
    background-color: rgb(245, 186, 91);
}

.sidebar span {
    padding: 10px;
}

.mm2 {
    margin-top: 35px;
    margin-bottom: -5px;
}

.mm3 {
    margin-top: -16px;
    margin-bottom: -12px;
    font-size: 20px;
}

.mm4 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.mm5 {
    margin-top: 18px;
    margin-bottom: -15px;
}

.mm6 {
    margin-top: 4px;
    margin-bottom: -32px;
}

.mr10 {
    margin-right: 10px;
}

.ml10 {
    margin-left: 10px;
}

.men1 {
    width: 24rem!important;
}

.c1 {
    margin-left: 27rem!important;
    margin-top: -16.3rem!important;
}

/* 248, 166, 101 */