<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
        integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style.css')}}">
    <title>Game</title>
</head>

<body>
    {% if error != '' %}
    <div class="ui red message io1">
        <div>{{error}}</div>
        <a href="/game/{{code}}?name={{name}}&session={{session}}" type="button"
            aria-label="Закрыть"><i class="icon close red"></i></a>
    </div>
    {% endif %}
    <nav class="ui stackable menu">
        <div class="item green" href="#">Игра в слова</div>
        <a class="item" aria-current="page" href="/">Главная</a>
        <a class="item active" href="#">Игра</a>
    </nav>

    <div class="container ml10">
        <div class="ui vertical menu men1">
            <div class="item">
                <div class="header">Код команды</div>
                <div class="ui action input">
                    <input id="code1" type="text" value="{{code}}">
                    <button id="copy" class="ui right teal labeled icon button" tabindex="0">
                        <i id="icn1" class="copy icon"></i>
                        <span class="text1">Copy</span>
                    </button>
                </div>
            </div>

            <div class="item">
                <div class="header">Участники</div>
                <p>{% for u in users %}
                    {{u}}<br>
                    {% endfor %}</p>
            </div>

            <div class="item">
                <form action="/close/{{ session }}">
                    <button class="ui button inverted red" type="submit">
                        Закрыть
                    </button>
                </form>
            </div>
        </div>

        <div class="c1">
            <h1 class="header">Слова</h1>
            {% for word in words %}
            <p>{{word}}</p>
            {% endfor %}
            <form action="/game/{{code}}" class="row g-3">
                <div class="ui input">
                    <input placeholder="Слово" id="inp4" name="message">
                </div>
                <input type="hidden" name="name" value="{{name}}" />
                <input type="hidden" name="session" value="{{session}}" />
                <br>
                <button class="ui button teal btn1" type="sumbit">
                    Отправить
                </button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <script>
        $('#copy').click(function() {
            navigator.clipboard.writeText($("#code1").val())
            $('.text1').text("Copied")
            $('#icn1').removeClass('copy')
            $('#icn1').addClass('check')
            $('#icn1').addClass('circle')
            $('#copy').blur()
            setTimeout(restoreicon, 1000)
        })

        function restoreicon() {
            $('.text1').text("Copy")
            $('#icn1').removeClass('check')
            $('#icn1').removeClass('circle')
            $('#icn1').addClass('copy')
        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"
        integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>