<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
        integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Игра в слова</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style.css')}}">
</head>

<body>
    {% if error != '' %}
    <div class="ui red message io1">
        <div>{{error}}</div>
        <a href="/" type="button"
            aria-label="Закрыть"><i class="icon close red"></i></a>
    </div>
    {% endif %}
    <nav class="ui stackable menu">
        <div class="item green" href="#">Игра в слова</div>
        <a class="item active" aria-current="page" href="#">Главная</a>
        <a class="item disabled" href="#">Игра</a>
    </nav>

    <div class="container ml10">
        <form action="/login">
            <h2 class="mm2">Войти в комнату</h2>
            <br>
            <div class="ui input mr10">
                <input placeholder="Код" id="inp2" name="code">
            </div>
            <div class="ui input mr10">
                <input type="text" placeholder="Ник" id="inp3" name="name">
            </div>
            <button class="ui button teal" type="sumbit">
                Войти
            </button>
        </form>
        <br>
        <form action="/start">
            <h2 class="mm2">Создать команту</h2>
            <br>
            <div class="ui input mr10">
                <input type="text" placeholder="Ник" id="inp4" name="name">
            </div>
            <button class="ui button teal" type="sumbit">
                Создать комнату
            </button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"
        integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>