<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        .nav1 {
    margin-bottom: 20px;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    -webkit-box-shadow: 0px 19px 40px -16px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 19px 40px -16px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 19px 40px -16px rgba(34, 60, 80, 0.2);
}

/* 245, 186, 91 */

.btn1 {
    background-color: rgb(245, 186, 91);
}
.btn1:hover {
    background-color: rgb(248, 166, 101);
}

/* 248, 166, 101 */
    </style>
    <title>Form</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light nav1">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Игра в слова</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Главная</a>
                    <a class="nav-link disabled" href="#">Игра</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <form action="/strgame" method="post">
            <button class="btn btn1" type="sumbit">
                Start a new game
            </button>
        </form>

        <form action="/ingame" method="post">
            <br>
            <input type="text" class="form-control" placeholder="Code" id="inp2" name="code">
            <br>
            <button class="btn btn1" type="sumbit">
                Login
            </button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>